### 需求：股票分析
- 使用tushare包获取某股票的历史行情数据。
- 输出该股票所有收盘比开盘上涨3%以上的日期。
- 输出该股票所有开盘比前日收盘跌幅超过2%的日期。
- 假如我从2010年1月1日开始，每月第一个交易日买入1手股票，每年最后一个交易日卖出所有股票，到今天为止，我的收益如何？

- tushare财经数据接口包
    - pip install tushare

In [12]:
import tushare as ts
import pandas as pd
from pandas import DataFrame,Series
import numpy as np

In [13]:
#获取某只股票的历史行情数据
#code:字符串形式的股票代码
pro = ts.pro_api('ef068dbae7c0c66fb29924d1cc4dd894b34925529ef69e830b8ec657')
df = pro.daily(ts_code='688285.SH', start_date='20200101')
df.head()

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,688285.SH,20230818,8.79,10.37,8.79,10.37,8.64,1.73,20.0231,301200.11,301320.906
1,688285.SH,20230817,8.50,8.65,8.38,8.64,8.49,0.15,1.7668,17946.58,15298.038
2,688285.SH,20230816,8.62,8.64,8.54,8.57,8.65,-0.08,-0.9249,12581.94,10801.823
3,688285.SH,20230815,8.74,8.79,8.60,8.65,8.74,-0.09,-1.0297,10826.49,9388.132
4,688285.SH,20230814,8.70,8.75,8.59,8.74,8.73,0.01,0.1145,15490.31,13424.029

In [15]:
#将互联网上获取的股票数据存储到本地
df.to_csv('./高铁电气.csv')#调用to_xxx方法将df中的数据写入到本地进行存储

In [16]:
#将本地存储的数据读入到df
df = pd.read_csv('./高铁电气.csv')
df.head()

,Unnamed: 0,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,0,688285.SH,20230818,8.79,10.37,8.79,10.37,8.64,1.73,20.0231,301200.11,301320.906
1,1,688285.SH,20230817,8.50,8.65,8.38,8.64,8.49,0.15,1.7668,17946.58,15298.038
2,2,688285.SH,20230816,8.62,8.64,8.54,8.57,8.65,-0.08,-0.9249,12581.94,10801.823
3,3,688285.SH,20230815,8.74,8.79,8.60,8.65,8.74,-0.09,-1.0297,10826.49,9388.132
4,4,688285.SH,20230814,8.70,8.75,8.59,8.74,8.73,0.01,0.1145,15490.31,13424.029

In [17]:
#需要对读取出来的数据进行相关的处理

In [18]:
#删除df中指定的一列
df.drop(labels='Unnamed: 0',axis=1,inplace=True)

In [20]:
#查看每一列的数据类型
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 448 entries, 0 to 447
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ts_code     448 non-null    object
 1   trade_date  448 non-null    int64
 2   open        448 non-null    float64
 3   high        448 non-null    float64
 4   low         448 non-null    float64
 5   close       448 non-null    float64
 6   pre_close   448 non-null    float64
 7   change      448 non-null    float64
 8   pct_chg     448 non-null    float64
 9   vol         448 non-null    float64
 10  amount      448 non-null    float64
dtypes: float64(9), int64(1), object(1)
memory usage: 38.6+ KB

In [21]:
#将date列转为时间序列类型
df['trade_date'] = pd.to_datetime(df['trade_date'].astype('str'))

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 448 entries, 2023-08-18 to 2021-10-20
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ts_code    448 non-null    object
 1   open       448 non-null    float64
 2   high       448 non-null    float64
 3   low        448 non-null    float64
 4   close      448 non-null    float64
 5   pre_close  448 non-null    float64
 6   change     448 non-null    float64
 7   pct_chg    448 non-null    float64
 8   vol        448 non-null    float64
 9   amount     448 non-null    float64
dtypes: float64(9), object(1)
memory usage: 38.5+ KB

In [49]:
#将date列作为源数据的行索引
df.set_index('trade_date',inplace=True)

KeyError: "None of ['trade_date'] are in the columns"

In [50]:
df.head()

,ts_code,open,high,low,close,pre_close,change,pct_chg,vol,amount
trade_date,,,,,,,,,,
2023-08-18,688285.SH,8.79,10.37,8.79,10.37,8.64,1.73,20.0231,301200.11,301320.906
2023-08-17,688285.SH,8.50,8.65,8.38,8.64,8.49,0.15,1.7668,17946.58,15298.038
2023-08-16,688285.SH,8.62,8.64,8.54,8.57,8.65,-0.08,-0.9249,12581.94,10801.823
2023-08-15,688285.SH,8.74,8.79,8.60,8.65,8.74,-0.09,-1.0297,10826.49,9388.132
2023-08-14,688285.SH,8.70,8.75,8.59,8.74,8.73,0.01,0.1145,15490.31,13424.029

In [51]:
#输出该股票所有收盘比开盘上涨3%以上的日期
#伪代码：（收盘-开盘）/开盘 > 0.03
(df['open'] - df['close']) / df['open'] > 0.03

trade_date
2023-08-18    False
2023-08-17    False
2023-08-16    False
2023-08-15    False
2023-08-14    False
              ...
2021-10-26    False
2021-10-25     True
2021-10-22    False
2021-10-21     True
2021-10-20     True
Length: 448, dtype: bool

In [52]:
#在分析的过程中如果产生了boolean值则下一步马上将布尔值作为源数据的行索引
 #如果布尔值作为df的行索引，则可以取出true对应的行数据，忽略false对应的行数据
df.loc[(df['open'] - df['close']) / df['open'] > 0.03] #获取了True对应的行数据（满足需求的行数据）

df.loc[(df['open'] - df['close']) / df['open'] > 0.03].index #df的行数据

DatetimeIndex(['2023-05-16', '2023-05-12', '2023-05-09', '2023-04-19',
               '2023-03-27', '2023-03-21', '2023-02-16', '2022-10-28',
               '2022-09-26', '2022-09-15', '2022-08-31', '2022-08-24',
               '2022-08-02', '2022-06-09', '2022-06-08', '2022-06-01',
               '2022-05-24', '2022-04-28', '2022-04-26', '2022-04-25',
               '2022-03-15', '2022-03-08', '2022-01-25', '2022-01-20',
               '2022-01-18', '2022-01-07', '2021-12-06', '2021-10-28',
               '2021-10-25', '2021-10-21', '2021-10-20'],
              dtype='datetime64[ns]', name='trade_date', freq=None)

In [53]:
#输出该股票所有开盘比前日收盘跌幅超过2%的日期
#伪代码：(开盘-前日收盘)/前日收盘 < -0.02
(df['open'] - df['close'].shift(1))/df['close'].shift(1) < -0.02
#将布尔值作为源数据的行索引取出True对应的行数据
df.loc[(df['open'] - df['close'].shift(1))/df['close'].shift(1) < -0.02]

df.loc[(df['open'] - df['close'].shift(1))/df['close'].shift(1) < -0.02].index

DatetimeIndex(['2023-08-17', '2023-07-28', '2023-07-24', '2023-06-29',
               '2023-06-28', '2023-06-27', '2023-06-26', '2023-06-12',
               '2023-06-07', '2023-06-06', '2023-05-30', '2023-05-29',
               '2023-05-17', '2023-04-28', '2023-04-20', '2023-04-19',
               '2023-04-17', '2023-04-14', '2023-04-13', '2023-04-04',
               '2023-04-03', '2023-03-31', '2023-03-16', '2023-03-15',
               '2023-03-14', '2023-03-01', '2023-02-28', '2023-02-10',
               '2023-02-09', '2023-01-03', '2022-12-05', '2022-12-02',
               '2022-11-28', '2022-11-23', '2022-11-22', '2022-11-07',
               '2022-11-04', '2022-11-03', '2022-11-02', '2022-10-31',
               '2022-10-20', '2022-10-17', '2022-10-14', '2022-10-13',
               '2022-10-12', '2022-10-11', '2022-08-29', '2022-08-08',
               '2022-08-05', '2022-08-03', '2022-07-19', '2022-07-18',
               '2022-07-13', '2022-07-07', '2022-06-23', '2022-06-02',
               '2022-05-31', '2022-05-30', '2022-05-27', '2022-05-25',
               '2022-05-18', '2022-05-13', '2022-05-12', '2022-05-10',
               '2022-05-09', '2022-05-06', '2022-04-18', '2022-03-21',
               '2022-03-18', '2022-03-17', '2022-03-16', '2022-02-18',
               '2022-02-17', '2022-02-08', '2022-02-07', '2022-01-28',
               '2022-01-14', '2022-01-05', '2022-01-04', '2021-12-29',
               '2021-12-23', '2021-12-21', '2021-12-20', '2021-12-14',
               '2021-11-24', '2021-11-22', '2021-11-19', '2021-11-12',
               '2021-11-11', '2021-11-02', '2021-11-01'],
              dtype='datetime64[ns]', name='trade_date', freq=None)

- 需求：假如我从2010年1月1日开始，每月第一个交易日买入1手股票，每年最后一个交易日卖出所有股票，到今天为止，我的收益如何？
- 分析：
    - 时间节点：2010-2020
    - 一手股票：100支股票
    - 买：
        - 一个完整的年需要买入1200支股票
    - 卖：
        - 一个完整的年需要卖出1200支股票
    - 买卖股票的单价：
        - 开盘价

In [54]:
new_df = df.loc['2022-01':'2023-08']
new_df

KeyError: 'Value based partial slicing on non-monotonic DatetimeIndexes with non-existing keys is not allowed.'

In [ ]:
new_df.head(2)

In [ ]:
#买股票：找每个月的第一个交易日对应的行数据（捕获到开盘价）==》每月的第一行数据
#根据月份从原始数据中提取指定的数据
#每月第一个交易日对应的行数据
df_monthly = new_df.resample('M').first()#数据的重新取样
df_monthly

In [ ]:
#买入股票花费的总金额
cost = df_monthly['open'].sum()*100
cost

In [ ]:
#卖出股票到手的钱
#特殊情况：2020年买入的股票卖不出去
new_df.resample('A').last()
#将2020年最后一行切出去
df_yearly = new_df.resample('A').last()[:-1]
df_yearly

In [ ]:
#卖出股票到手的钱
resv = df_yearly['open'].sum()*1200
resv

In [ ]:
#最后手中剩余的股票需要估量其价值计算到总收益中
#使用昨天的收盘价作为剩余股票的单价
last_monry = 200*new_df['close'][-1]

In [ ]:
#计算总收益
resv+last_monry-cost

### 需求：双均线策略制定

- 使用tushare包获取某股票的历史行情数据

- 计算该股票历史数据的5日均线和60日均线
    - 什么是均线？
        - 对于每一个交易日，都可以计算出前N天的移动平均值，然后把这些移动平均值连起来，成为一条线，就叫做N日移动平均线。移动平均线常用线有5天、10天、30天、60天、120天和240天的指标。
       - 5天和10天的是短线操作的参照指标，称做日均线指标；
       - 30天和60天的是中期均线指标，称做季均线指标；
       - 120天和240天的是长期均线指标，称做年均线指标。
    - 均线计算方法：MA=（C1+C2+C3+...+Cn)/N C:某日收盘价 N:移动平均周期（天数）

- 可视化历史数据的收盘价和两条均线

- 分析输出所有金叉日期和死叉日期
    - 股票分析技术中的金叉和死叉，可以简单解释为：
        - 分析指标中的两根线，一根为短时间内的指标线，另一根为较长时间的指标线。
        - 如果短时间的指标线方向拐头向上，并且穿过了较长时间的指标线，这种状态叫“金叉”；
        - 如果短时间的指标线方向拐头向下，并且穿过了较长时间的指标线，这种状态叫“死叉”；
        - 一般情况下，出现金叉后，操作趋向买入；死叉则趋向卖出。当然，金叉和死叉只是分析指标之一，要和其他很多指标配合使用，才能增加操作的准确性。

- 如果我从假如我从2010年1月1日开始，初始资金为100000元，金叉尽量买入，死叉全部卖出，则到今天为止，我的炒股收益率如何？